<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= yield :page_title || "Covenant CMS" %></title>
  <META name="description" content="<%= yield :meta_description || ""%>">
  <META name="keywords" content="<%= yield :meta_keywords || ""%>">
  <%= javascript_include_tag "jquery", "jquery-ui", "jquery-fx", "jquery-pages", "thickbox" %>
  

  <!-- Framework CSS -->
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/buttons/buttons.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/tools/thickbox.css" type="text/css" media="screen, projection">
	<style type="text/css" media="all">@import "/stylesheets/tools/tabs.css";</style>
	
	<link rel="stylesheet" href="/stylesheets/public/stuff.css" type="text/css" media="screen, projection">
	
	<%= yield :head %>
	
</head>

<body style="margin:0;">
<div class="full-width" style="background:#fff;">
  <div class="container">
    <div id="tabs">
  		<ul>
  		<li><a href="/" class="active">Home</a></li>
  		<li><a href="/">Interior</a></li>
  		<li><a href="/pages">CMS</a></li>
  		<li><a href="#" class="gridtoggle">Toggle Layout Grid</a></li>
  		</ul>
  	</div>
  </div>
</div>
<div class="full-width" style="background:#5acae0;">
  <div class="container">
    <div id="subtabs" class="span-24">
			<ul>
			</ul>
			&nbsp;
		</div>
	</div>
</div>
	<div class="container">
		<div class="span-24 last">&nbsp;</div>
		<div class="span-14"> 
	  <%= yield %> 
	  </div>
      
    <div class="span-10 last">
      <%= yield :sidebar %>
    </div>
	</div>

</body>
</html>