  <h4 style="margin-left:<%= page.depth*30  %>px;"><%= image_tag "cms/#{page.kind || "Page"}.png", :width => 32, :height => 32, :style => 'vertical-align:middle;'  %> 
  <%= link_to page.title, page_url(page) %> <%= "&nbsp;"*3 %> <%= link_to image_tag("cms/view.png"), "/#{page.slug}" %></h4>
  <% page.children.reverse! if page.has_reversable? %>
  <% if page.has_reversable? %>
  <%= render_partial_collection 'page', page.children.reverse %>
  <% else %>
  <%= render_partial_collection 'page', page.children %>
  <% end %>
