<% @head_stuff = "" %>
<h1><%= @page.title %></h1>
<% content_for :page_title do %><%= @page.title %><% end %>
<% content_for :meta_keywords do %><%= @page.meta_keywords %><% end %>
<% content_for :meta_description do %><%= @page.meta_description %><% end %>


<%= render_partial_collection 'element', @page.elements %>

<%= render_partial_collection 'post', @page.children if @page.kind == "Blog" %>

<% content_for :head do %><%= @head_stuff %><% end %>