<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>CMS: <%= controller.action_name %></title>
  
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  
  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag "wufoo" %>
  

  <!-- Framework CSS -->
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/buttons/buttons.css" type="text/css" media="screen, projection">
	<style type="text/css" media="all">@import "/stylesheets/tabs.css";</style>
</head>

<body style="margin:0;">
<div class="full-width" style="background:#efc;">
  <div class="container">
    <div id="tabs">
  		<ul>
  		<li><a href="/">Content Management System</a></li>
  		<li><a href="#" class="active">Users</a></li>
  		<li><a href="/admin/patients">Uploads</a></li>
  		</ul>
  	</div>
  </div>
</div>
<div class="full-width" style="background:#FFF3B3;">
  <div class="container">
    <div id="subtabs" class="span-24">
			<ul>
			<li><a href="/cms/mods/">All Modules</a></li>
			<li><%= link_to "Current Module", cms_mod_url(@mod || @page.mod) if @mod || @page %></li>
			<li><%= link_to "Current Page", cms_mod_page_url(@page.mod, @page) unless @page.nil? %></li>
			</ul>
			&nbsp;
		</div>
	</div>
</div>
	<div class="container sshowgrid">
		
		<div class="span-18"> 
	  <%= yield %> 
	  </div>

	</div>

</body>
</html>